*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header{
    background-color: #33cfff;
    color: #fff;
    padding: 10px;
}

header h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    margin: 15px;
}

.navbar-nav{
    gap: 80px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #ffffff;
}

.navbar-nav .nav-link:hover{
    color: #33cfff;
    transition: 0.3s ease-in-out;
}

.color-navbar{
    background-color: #000000;
    padding: 10px;
}

.imagen-Grande{
    background-image: url("../img/playa.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: auto;
    margin-bottom: 30px;
}

.card{
    border: unset;
}

.card-title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.card-body img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 24px;
}

.card-body p{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.btn{
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: #33cfff;
    border-color: #ffffff;
    border-radius: 10px;
    width: 200px;
}

.btn-primary:hover{
    background-color: #2e62ff;
    border-color: #89a6ff;
}

footer{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

